src/wsdl/http---siebel.com-CustomUI_NSITF Employer Insert_Update WF.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/WSAccount"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/WSAccount"
></xsd:import
><xsd:element
 name="InsertUpdateCompany_1_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfSampleAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="InsertUpdateCompany_1_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CompanyId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EBSCustId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 type="xsd:string"
></xsd:element
><xsd:element
 name="vStep"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/WSAccount"
 targetNamespace="http://www.siebel.com/xml/WSAccount"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSampleAccount"
 type="xsdLocal1:ListOfSampleAccount"
></xsd:element
><xsd:complexType
 name="ListOfSampleAccountTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSampleAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfSampleAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSampleAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="IncorporationNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MobilePhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CSN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InsuranceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 default="NGN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersEmail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmployerEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersIdExpiryDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersIdNum"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersIdType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersJobRole"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersMiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Location"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OwnersPhoneNum"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TotalStaffEmolument"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="YearIncorporated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TaxIdNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfAccount_Organization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccount_Organization"
></xsd:element
><xsd:element
 name="ListOfAccountAttachment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccountAttachment"
></xsd:element
><xsd:element
 name="ListOfBusinessAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfBusinessAddress"
></xsd:element
><xsd:element
 name="ListOfContacts"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfContacts"
></xsd:element
><xsd:element
 name="ListOfAccountCategory"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccountCategory"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfAccount_Organization"
><xsd:sequence
><xsd:element
 name="Account_Organization"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Account_Organization"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account_Organization"
><xsd:sequence
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Organization"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="IsPrimaryMVG"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfAccountAttachment"
><xsd:sequence
><xsd:element
 name="AccountAttachment"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AccountAttachment"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountAttachment"
><xsd:sequence
><xsd:element
 name="AccntFileExt"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccntFileName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccntFileSrcPath"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccntFileSrcType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Comment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AttachmentId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:base64Binary"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfBusinessAddress"
><xsd:sequence
><xsd:element
 name="BusinessAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:BusinessAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BusinessAddress"
><xsd:sequence
><xsd:element
 name="AddressName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 default="Nigeria"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LocalGovtArea"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="State"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="operation"
 type="xsd:string"
></xsd:attribute
><xsd:attribute
 name="searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfContacts"
><xsd:sequence
><xsd:element
 name="Contacts"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Contacts"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contacts"
><xsd:sequence
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="JobTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NSITFEmployeeId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StaffId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfContactOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfContactOrganization"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccountCategory"
><xsd:sequence
><xsd:element
 name="AccountCategory"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AccountCategory"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountCategory"
><xsd:sequence
><xsd:element
 name="Category"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CategoryPrivateFlag"
 default="N"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfContactOrganization"
><xsd:sequence
><xsd:element
 name="ContactOrganization"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:ContactOrganization"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ContactOrganization"
><xsd:sequence
><xsd:element
 name="Organization"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="IsPrimaryMVG"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
></xsd:schema
></types
><message
 name="InsertUpdateCompany_1_Input"
><part
 name="InsertUpdateCompany_1_Input"
 element="tns:InsertUpdateCompany_1_Input"
></part
></message
><message
 name="InsertUpdateCompany_1_Output"
><part
 name="InsertUpdateCompany_1_Output"
 element="tns:InsertUpdateCompany_1_Output"
></part
></message
><portType
 name="NSITF_spcEmployer_spcInsert_Update_spcWF"
><operation
 name="InsertUpdateCompany_1"
><input
 message="tns:InsertUpdateCompany_1_Input"
></input
><output
 message="tns:InsertUpdateCompany_1_Output"
></output
></operation
></portType
><binding
 name="NSITF_spcEmployer_spcInsert_Update_spcWF"
 type="tns:NSITF_spcEmployer_spcInsert_Update_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="InsertUpdateCompany_1"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:InsertUpdateCompany_1"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="NSITF_spcEmployer_spcInsert_Update_spcWF"
><port
 binding="tns:NSITF_spcEmployer_spcInsert_Update_spcWF"
 name="NSITF_spcEmployer_spcInsert_Update_spcWF"
><soap:address
 location="http://41.207.249.2/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>